.weather {
    width: 100%;
    border-radius: 15px;
    box-shadow: 10px -2px 20px 2px rgb(0 0 0 / 30%);
    color: black;
    background-color: white;
    margin: 1rem 0;
    padding: 1rem;
  }
  .weather:hover {
    transition: ease-in-out 1s;
    transform: scale(1.1);
  }
  .top,
  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .city {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1;
    margin: 1rem;
    letter-spacing: 1px;
  }

  .temperature {
    font-weight: 600;
    font-size: 3rem;
    width: auto;
    letter-spacing: 1px;
    margin: 1rem;
  }
  .weather-description {
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1;
    margin: 1rem;
    text-transform: capitalize;
  }
  
  .weather-icon {
    width: 7rem;
    margin: 1rem;
  }
  .weather-details-icon {
    width: 3rem;
    margin: 1rem;
  }
  
  .details {
    width: 100%;
  }
  
  .parameter-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
  }
  
  .parameter-value {
    font-weight: 600;
    font-size: 1rem;
  }
