@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
body {
  padding: 2rem;
  margin: auto;
  font-family: 'PT Serif', serif;
  background-color: black;
  color: white;
  width:80%
}

/* Media Queries Medium Devices*/
@media screen and (max-width:1024px){
  body {
    padding: 1rem;
    width:100%
  }
}

/* Media Queries Small Devices*/
@media screen and (max-width:600px){
  body {
    padding: 1rem;
    width:100%
  }
}