@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
body {
  padding: 2rem;
  margin: auto;
  font-family: 'PT Serif', serif;
  background-image: linear-gradient(to right, #151F50, #383274, #8E5D9B);
  color: white;
}
.search_container {
  width: 20%;
  margin: 2rem auto;
  background-color: white;
  color: black;
  z-index: 2;
    position: relative;
}
.currentweather_container {
  width: 21%;
  margin: 1rem auto;
}
.forecastaccordion_container {
  width: 87%;
  margin: 3rem auto;
}
/* Media Queries Medium Devices*/
@media screen and (max-width:1024px){
  body {
    padding: 1rem;
    width:100%
  }
  .search_container {
    width: 40%;
    margin: 2rem auto;
  }
  .currentweather_container {
    width: 45%;
    margin: 1rem auto;
  }
  .forecastaccordion_container {
    width: auto;
    justify-content: center;
  }
}

/* Media Queries Small Devices*/
@media screen and (max-width:600px){
  body {
    width:90%;
  }
  .search_container {
    width: auto;
    justify-content: center;
    margin: 1rem auto;
  }
  .currentweather_container {
    width: auto;
    justify-content: center;
    margin: auto;
  }
  .forecastaccordion_container {
    width: auto;
    justify-content: center;
  }
}