@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
body {
  padding: 2rem;
  margin: auto;
  font-family: 'PT Serif', serif;
  background-image: linear-gradient(to right, #4D4D4D, #3C3C3C, #1E1E1E, #111111, #000000);
  color: white;
}
.search_container {
  width: 20%;
  margin: 5rem auto 2rem;
  background-color: white;
  color: black;
  z-index: 2;
    position: relative;
}
.currentweather_container {
  width: 15%;
  float:left;
}
.forecastaccordion_container {
  width: 80%;
  float:right;
}
/* Media Queries Medium Devices*/
@media screen and (max-width:1024px){
  body {
    padding: 1rem;
    width:100%
  }
}

/* Media Queries Small Devices*/
@media screen and (max-width:600px){
  body {
    padding: 1rem;
    width:100%
  }
}